{% extends 'Tbase.html' %}

{% block head %}

{% endblock %}

{% block main %}
    <div id="page-wrapper" >
            <div id="page-inner">
				<div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                            学生学籍删除
                        </h1>
                    </div>
                </div>
                <div class="col-md-12">
                <div class="panel panel-default">
                    <form role="form" action="" method="post">
                        <div class="form-group">
                            <div class="panel-body">
                                <label>学号</label>
                                <input class="form-control" name="Stu_no_del" placeholder="请输入想要删除的学生学籍学号">
                            </div>
                            <div class="panel-body">
                                <button class="btn btn-default" type="submit">Delete Button</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            </div>

    </div>
{% endblock %}

{% block script %}

{% endblock %}